---
# Lunr search page
layout: page
custom-foot: js/lunr-js.html
---

{%- assign fields = site.data.config-search | where: 'index',true | map: 'field'
-%}
<!-- Button trigger modal -->
<button
  type="button"
  class="btn btn-outline-primary float-end"
  data-bs-toggle="modal"
  data-bs-target="#operators"
>
  検索オプション
</button>
<!-- Modal -->
<div
  class="modal fade"
  id="operators"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel">Lunr検索オプション</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <p>
          検索ボックスにこれらの高度なオプションを追加して、検索結果を絞り込むことができます：
        </p>
        <ul>
          <li>
            特定のフィールドを検索:
            フィールド名、コロン、その後に検索クエリを入力します。例:
            <code>title:foo</code>, <code>date:1911</code>,
            <code>subject:tree</code
            >。このコレクションでは次のフィールドが使用できます: {{ fields |
            join: ", " }}。
          </li>
          <li>
            ワイルドカード:
            <code>*</code> を追加して任意の文字を一致させます。例:
            <code>foo*</code>,
            <code>*oo</code
            >。語幹を使って関連するすべての語尾を持つ単語を検索するのに役立ちます。
          </li>
          <li>
            あいまい検索: クエリの末尾に
            <code>~</code> と数字を追加して、検索のあいまい度を指定します。例:
            <code>foo~1</code>。スペルミスを含む場合に便利です。
          </li>
          <li>
            用語の優先度を上げる: クエリ内で特定の用語の関連性を高めるために
            <code>^</code> と数字を追加します。例:
            <code>foo^10</code
            >。重要な用語が最も優先されるようにすることで、不要な結果を減らすことができます。
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{ content }}

<div class="ms-3 mt-3">
  <form
    class=""
    role="search"
    id="lunrSearch"
    onsubmit="lunr_search(); return false;"
  >
    <div class="input-group input-group-lg">
      <input
        id="lunrSearchBox"
        class="form-control"
        type="text"
        placeholder="検索語を入力してください..."
      />
      <button class="btn btn-success" type="submit">検索</button>
    </div>
  </form>

  <table id="lunrResults" class="table table-responsive"></table>
</div>

<div class="mt-3">
  <p class="text-muted">
    あいまい検索は
    <a href="https://lunrjs.com/" target="_blank" rel="noopener">Lunr.js</a
    >によって提供されています。
    <em
      >大規模なコレクションの場合、読み込みに少し時間がかかる場合があります！</em
    >
  </p>
</div>
